.summary-card {
    .summary-card-footer {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid #f0f0f0;
    }

    .tabs-in-footer {
        margin: -12px -24px;
        padding: 0 24px;
    }
}
