.page {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.dashboard {
    overflow: hidden auto;
}

.resizableIcon {
    color: #626d82;
    position: absolute;
    bottom: 8px;
    right: 12px;
    cursor: se-resize;
}
