#loading {
    background-image: url(images/ajax-loading.gif);
}

/* hack for inline-block */
.pbar, .reactbar .reactF, .ui-button, .ui-helper-clearfix, .slick-header-column.ui-state-default, .slick-sort-indicator, .slick-reorder-proxy, .slick-reorder-guide, pre.prettyprint {
    display: inline;
    zoom: 1;
}

/* hack for inline-block */
.ui-button, .ui-menu {
    display: inline;
    zoom: 1;
}

.ui-buttonset .ui-button {
    margin-right: 0; /* otherwise buttons intersect */
}

/* In IE the height include padding, thuus instead of 16 height and 8 padding we specify 24 height */
.slick-header {
    height: 24px;
    padding: 0;
    margin: 0;
}

/* Otherwise the links in menu are word-wrapped */
#ct_menu a {
    white-space: nowrap;
}

.slick-header-secondary {
    height: auto !important; /* Otherwise secondary header row has fixed height */
}

#calls-list-raw {
    height: 100%;
}

.inline-block {
    display: inline;
    zoom: 1;
}

.ui-state-default {
    width: auto;
}

.slick-row {
    position: absolute;
    border: 0;
}

.slick-cell {
    margin-left: 1px;
    border-left: none;
    border-top: none;
}

.slick-sort-indicator-desc {
    background: url(images/sort-desc.gif);
}

.slick-sort-indicator-asc {
    background: url(images/sort-asc.gif);
}

#group, #config {
    float: none;
    vertical-align: middle;
}

#calls-list-configuration, #duration-buttons, #timerange-buttons {
    vertical-align: middle;
}

.ui-widget-content, .ui-state-active {
    position: static;
}

.slick-row {
    position: absolute;
}

.p {
    display: inline;
    zoom: 1;
}

.ui-notify {
    position: absolute;
}

.ui-widget-content { background-image: url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png); }
.ui-widget-header { background-image: url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background-image: url(images/ui-bg_glass_85_dfeffc_1x400.png); }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background-image: url(images/ui-bg_glass_75_d0e5f5_1x400.png); }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background-image: url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png); }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  { background-image: url(images/ui-bg_flat_55_fbec88_40x100.png); }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { background-image: url(images/ui-bg_glass_95_fef1ec_1x400.png); }

/* states and images */
.ui-icon { background-image: url(images/ui-icons_469bdd_256x240.png); }
.ui-widget-content .ui-icon { background-image: url(images/ui-icons_469bdd_256x240.png); }
.ui-widget-header .ui-icon { background-image: url(images/ui-icons_d8e7f3_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_6da8d5_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_217bc0_256x240.png); }
.ui-state-active .ui-icon { background-image: url(images/ui-icons_f9bd01_256x240.png); }
.ui-state-highlight .ui-icon { background-image: url(images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url(images/ui-icons_cd0a0a_256x240.png); }

/* Overlays */
.ui-widget-overlay { background-image: url(images/ui-bg_flat_0_aaaaaa_40x100.png); }
.ui-widget-shadow { background-image: url(images/ui-bg_flat_0_aaaaaa_40x100.png); }

/* Timeline */
div.timeline-navigation-delete {
    background-image: url('img/16/delete.png');
}

div.timeline-navigation-zoom-in {
    background-image: url('img/16/zoomin.png');
}

div.timeline-navigation-zoom-out {
    background-image: url('img/16/zoomout.png');
}

div.timeline-navigation-move-left {
    background-image: url('img/16/moveleft.png');
}

div.timeline-navigation-move-right {
    background-image: url('img/16/moveright.png');
}
