body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 75%;
}

.inline-block {
    display: inline-block;
}

var {
    margin-left: 1px;
    text-decoration: none;
    font-style: normal;
    display:block;
}

.q {
    margin: 0 0 0 20px;
}

#tabs {
    position: static;
    float: left;
    white-space: nowrap;
    min-width: 99%;
    min-height: 95%;
}

.dygraph-legend {
    white-space: normal;
    padding: 2px;
}
/*#ash .dygraph-legend > span { display: none; }*/
/*#ash .dygraph-legend > span.highlight { display: inline; }*/
/*#ash .dygraph-legend > span { */
    /*float: left;*/
    /*text-decoration: underline;*/
/*}*/
.dygraph-legend > span.highlight {
    border: 1px solid grey;
    /*text-decoration: underline;*/
}

pre {
    margin: 0;
    font-size: 100%;
}

.nmbr {
    text-align: right;
}

.tracespanid {
    font-family: monospace;
    cursor:pointer;
}

#filter-status {
    padding-top: 0.6em;
}

#calls-list-configuration {
    position: absolute;
    /*height: 11em;*/
    width: 100%;
}

#calls-list-configuration-padding {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
}

label.text-label {
    text-align: right;
    width: 6em;
}

#calls-list-configuration div.value {
    position: absolute;
    text-align: right;
    width: 10em;
}

.selector_container {
    float: left;
    overflow: hidden;
    padding-left: 0.1em;
    padding-right: 0.6em;
    padding-top: 0.2em
}

#tr_selector .date {
    width: 6.5em;
}

#tr_selector .time {
    width: 4.5em;
}

#tr_timezone {
    z-index: 150;
    position: relative;
}

.ui-autocomplete {
    max-height: 27.6em;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

#dr_selector {
    width: 15em;
}

#apply_filters {
    float: left;
}

#timeline {
    position: absolute;
    top: 10em;
    /*background-color: #adff2f;*/
    left: 0;
    right: 0;
    height: 10em;
}

#gantt-timeline {
    top: 0;
    /*background-color: #adff2f;*/
    left: 0;
    right: 0;
    height: 30em;
}

#calls-list-raw {
    position: absolute;
    top: 20em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.slick-resizable-handle {
    width: 5px;
    background-color: #add8e6;
}

.slick-row {
    width: 100%; /* otherwise row does not take the whole width and the last column is wrapped to the second line */
}

.odd .slick-cell {
    background-color: #faffff;
}

.selected .slick-cell {
    background-color: #fff !important;
}

.ui-resizable-handle {
    z-index: 900;
}

#query_filter {
    margin: 0;
    position: absolute;
    padding: 4px;
    height: 16px;
    line-height: 16px;
    top: 20em;
    right: 1.7em;
    z-index: 10;
}

#qry {
    line-height: 16px;
    padding: 0;
    margin: 0;
}

.ok {
    background-color: #ccffcc;
}

input.err {
    background-color: #ffcccc;
}

.err.odd div.slick-cell {
    background-color: #ffcccc;
}

.err.even div.slick-cell {
    background-color: #ffdddd;
}

.inf .slick-cell {
    background-color: #d6ffd6;
}

#loading {
    position: absolute;
    left: 45%;
    padding: 0.3em;
    z-index: 10;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAPvsiAAAAL+0Z0E9IwAAAGBbNIB4RZCHTiH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 18px;
}

.p {
    color: gray;
    width: 1px;
    overflow: hidden;
    position: relative;
    left:-9999px;
    display:inline-block;
}

img {
    border: none;
}

s {
    text-decoration:none;
    color:gray;
}

.ui-state-active s {
    color: inherit;
}

ins {
    text-decoration:none;
    font-weight:bold;
    color: red;
}

.a-c {
    padding: 0 0.3em 0 0.3em;
}

.redFrame {
    border: 2px solid red;
}

pre.prettyprint {
    display: inline-block;
    border: none;
    vertical-align: text-top;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
}

pre.lightbox {
    background: white;
    border: 1px solid gray;
    left: 0;
    max-height: none;
    padding: 1em;
    position: absolute;
    z-index: 10;
}

.ui-buttonset .ui-button {
    margin-right: -.345em;
}

em {
    padding-left: 2px;
}

.selected {
    font-weight: normal !important;
}

#ide {
    position: absolute;
    border: none;
}

#idea {
    color: blue;
}

.activationPanel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 7px;
    background: white;
}

.activationIndicator {
    float: left;
    margin: 1px 0 1px 1px;
    height: 5px;
    width: 5px;
    background: yellow;
}

#vrs {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 90%;
}

#adj {
    overflow: hidden;
}

#adj_cfg, #bc_cfg {
    width: 100%;
    height: 100%;
}

.odd {
    background-color: #fafad2;
}

.ca td {
    text-align: center;
}

.ca {
    padding:.3em;
    position:absolute;
}

.cb {
    border-bottom: 1px dotted black;
    text-decoration:none;
}

.vl {
	border-bottom: 1px dotted;
	color: blue;
	cursor: pointer;
	text-decoration: none;
}

/** Database Statistics tab */
.s {
    width: 1200px;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    white-spavce: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.sw {
    width: 1200px;
    height: 10em;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.nw {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.o {
    background-color: #eeeeee;
}

.e {
    background-color: #ffffff;
}

.g {
    color: #7f7f7f;
}

.b {
    height: 10em;
}

.y {
    height: 100%;
}

.r {
    color: #ff0000;
    font-weight: bold;
}

#tabs-db td {
    vertical-align: top;
}

.t {
    height: 100%;
    overflow-y: auto;
    white-space: normal;
}

.ms {
    font-family: monospace;
}

.ms td {
    padding-right: 8px;
}

.pbar {
    vertical-align: 3px;
    font-size: 5px;
    background:#8b0000;
}

.reactbar {
    vertical-align: 3px;
    font-size: 5px;
    background: #000000;
}

/* Stylize timeline according to jQuery UI */
div.timeline-event {
    border: 1px solid #c5dbec;
    background-color: #dfeffc;
    color: #363636;
}

div.timeline-event-content {
    margin: 2px;
}

div.timeline-event-cluster {
    background-color: #bbdffa;
}

div.timeline-event-selected {
    border: 1px solid #fad42e;
    background-color: #fbec88;
    color: #363636;
}

#timeline .ui-resizable-s {
    background: #d3d3d3;
    height: 5px;
}

/*div.timeline-navigation-new, div.timeline-navigation-delete,
div.timeline-navigation-zoom-in,  div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left, div.timeline-navigation-move-right {
    background: none;
    padding: 3px 3px;
}
*/
div.timeline-frame {
    position: relative;
    overflow: hidden;
}

div.timeline-content {
    position: relative;
    overflow: hidden;
}

div.timeline-axis {
    filter: alpha(opacity = 60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    border-width: 1px;
    border-top-style: solid;
}

div.timeline-axis-grid {
    border-left-style: solid;
    border-width: 1px;
}

div.timeline-axis-grid-minor {
    filter: alpha(opacity = 30);
    -khtml-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
}

div.timeline-axis-grid-major {
    filter: alpha(opacity = 50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}

div.timeline-axis-text {
    padding: 3px;
    white-space: nowrap;
}

div.timeline-event {
    display: inline-block;
}

div.timeline-event.timeline-event-box {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event.timeline-event-dot {
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event.timeline-event-range {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
}

div.timeline-frame div.timeline-event-dot-container {
    border: none;
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}

div.timeline-event-line {
    border-left-width: 1px;
    border-left-style: solid;
}

div.timeline-event-content {
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
}

div.timeline-groups-axis {
    border-width: 1px;
}

div.timeline-groups-axis-onleft {
    border-style: none groove none none;
}

div.timeline-groups-axis-onright {
    border-style: none none none groove;
}

div.timeline-groups-text {
    padding-left: 10px;
    padding-right: 10px;
}

div.timeline-currenttime {
    background-color: #FF7F6E;
    width: 2px;
}

div.timeline-customtime {
    background-color: #6E94FF;
    width: 2px;
    cursor: move;
}

div.timeline-navigation-new, div.timeline-navigation-delete,
div.timeline-navigation-zoom-in, div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left, div.timeline-navigation-move-right {
    cursor: pointer;
    float: left;
    padding: 5px;
    text-decoration: none;
}

div.timeline-navigation-new-line {
    border-right: dotted 1px;
}

div.timeline-navigation-delete {
    padding: 0 0 0 5px;
    background: url('img/deleteEvent.png') no-repeat center;
    width: 13px;
    height: 13px;
}

div.timeline-selectable div.timeline-event {
    cursor: pointer;
}

div.timeline-selectable div.timeline-event-content {
    cursor: pointer;
}

div.timeline-event-selected div.timeline-event-content {
    cursor: move;
}

span.reactiveButton {
    padding-right: 10px;
    text-decoration: underline;
    color: lightcoral;
    cursor: pointer;
}

div.reactiveScreenBlocker{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100500;
}

div.reactivePopup {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    z-index:100501;
    max-width: 300px;
}

div.reactivePopupInner {
    margin: 10px;
}

#export-to-excel-dialog td input[type="number"],
#export-to-excel-dialog td input[type="text"] {
    width: 100%
}

.export-to-excel-aggregate-params {
    display: none;
}

/*WA for scaled table having width more than 100% which causes last div to go to the next line*/
body .ui-widget div.slick-viewport {
    overflow-x: hidden !important;
}
body .ui-widget div.slick-viewport div.slick-row {
    width: 200%;
}
.uc {
    vertical-align: text-bottom;
    margin-bottom: 1px;
}
#calls-list-raw .uc {
    border: none;
    padding: 0px;
    background: none;
}
#calls-list-raw .uc .ui-icon {
    background-image: url("images/ui-icons_555555_256x240.png");
}
.uc {
    height: 16px;
    padding: 0;
}
.uc .ui-icon {
    margin-top: -.35em;
}*/
