// Typography mixins
@mixin typography-base {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.5715;
    color: rgba(0, 0, 0, 0.85);
}

@mixin typography-13px-regular {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}
