.app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100%;

    &__content {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: auto;
    }

    &__content-with-sidebar {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}