:global {
    .react-resizable {
        position: relative;
    }
}

:global(.react-resizable):hover {
    .resizableHandle::after {
        background-color: #dee2e6;
    }
}

.resizableHandle {
    position: absolute;
    right: -4px;
    bottom: 0;
    z-index: 2;
    width: 9px;
    height: 100%;
    cursor: ew-resize;

    &::after {
        position: absolute;
        top: 0;
        left: 4px;
        width: 1px;
        height: 100%;
        content: '';
    }

    &:hover::after {
        background-color: #4fc0f8;
    }
}
