@use './assets/styles/fonts.scss';
@use '@assets/styles/containers/app.scss';
@use '@assets/styles/containers/flex-containers.scss';

@import 'antd/dist/reset.css';
@import '@assets/styles/colors.scss';

// Dashboard grid layout
@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-size: 14px;
    line-height: 1.5715;

    height: 100vh;
    background-color: #f8f9fa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.amarant-label {
    color: $amarant;
}

.magnet-label {
    color: $magnet;
}

.niagara-label {
    color: $niagara;
}

#root {
    height: 100%;
}

.mark-text {
    padding: 0px;
    background-color: $sand;
}

// Ant Design Select customizations
.ant-select-long-value {
    .ant-select-selector {
        white-space: normal;
        height: auto;
    }
}

.table-container {
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 1fr;
    overflow: scroll;
    row-gap: 8px;

    > :last-child {
        width: 100%;
    }

    > .ant-table-wrapper {
        .ant-table-cell {
            word-break: keep-all;
        }
        overflow: auto;
    }
}

.card-with-table {
    overflow: hidden;
    .ant-table-wrapper {
        .ant-table-cell {
            word-break: keep-all;
        }
        overflow: auto;
    }
}

.dashed-info-page {
    border: 1px dashed #d5dce3;
    border-radius: 20px;
}

.react-grid-item.react-grid-placeholder {
    border-radius: 4px;
    background: rgba(0, 104, 255, 0.5);
}

.progress-bar {
    width: 0;
    min-width: 100%;
    word-break: keep-all;
}

.draggable-handle {
    cursor: grab;
}

.draggable-cancel {
    cursor: auto;
}
