@use './assets/styles/scroll';
@use './assets/styles/typography';
@use './assets/styles/fonts.scss';
@use '@assets/styles/containers/app.scss';
@use '@assets/styles/containers/flex-containers.scss';

@import 'antd/dist/antd.css';
@import './assets/styles/colors.scss';

// Dashboard grid layout ->
@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    // Main font size for all text
    @include typography.typography-base();
    @include typography.typography-13px-regular();

    height: 100vh;
    background-color: #f8f9fa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.amarant-label {
    color: $amarant;
}

.magnet-label {
    color: $magnet;
}

.niagara-label {
    color: $niagara;
}

#root {
    height: 100%;
}

.mark-text {
    padding: 0px;
    background-color: $sand;
}

.ux-select-long-value {
    .ux-select {
        &__label,
        &__placeholder,
        &__option,
        &__single-value {
            z-index: 10;
            white-space: normal;
        }
    }
}

.ux-link {
    color: $denim;
    &:active,
    :focus,
    :hover,
    :visited {
        color: $denim;
    }
    &:hover {
        color: $denim;
        text-decoration: underline;
    }
}

.ux-date-picker-suffix {
    justify-content: flex-end;
}

.table-container {
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 1fr;
    overflow: scroll;
    row-gap: 8px;

    > :last-child {
        width: 100%;
    }

    > .ant-table {
        .ant-table-cell {
            word-break: keep-all;
        }
        overflow: auto;
    }
}

.card-with-table {
    overflow: hidden;
    .ant-table {
        .ant-table-cell {
            word-break: keep-all;
        }
        overflow: auto;
    }
}

.dashed-info-page {
    border: 1px dashed $grey-london-fog;
    border-radius: 20px;
}

// hot fix. Get rid of it in future
.ux-table-with-native-expand {
    .ux-table-cell-with-append :first-child {
        transform: translate(0, 1px);
    }
}

.react-grid-item.react-grid-placeholder {
    border-radius: 4px;
    background: rgba(0, 104, 255, 0.5);
}

.progress-bar {
    width: 0;
    min-width: 100%;
    word-break: keep-all;
}

.draggable-handle {
    cursor: grab;
}

.draggable-cancel {
    cursor: auto;
}
