---
name: Build

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up Java 21
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'

      - name: apps-build
        env:
          SKIP_FRONTEND: Y
        # language=bash
        run: make apps-build

      - name: tools-build
        # language=bash
        run: make tools-build

# TODO: fix Helm violations like "name is required", "apiVersion is required", ...
#      - name: charts-build
#        # language=bash
#        run: make charts-build

      - name: examples-build
        # language=bash
        run: make examples-build

      - name: delivery-build
        # language=bash
        run: make delivery-build
